<form class="form-horizontal" form-validator formvalidatorconfig="eventformvalidate" method="post">  
    <div class="modal-header">
        <h4 class="modal-title inline">添加模块</h4>
        <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label must">模块标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Title" data-rule-required="true" ng-model="entity.Title" placeholder="请输组件名称">
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label must">模块描述</label>
            <div class="col-sm-10">
               <textarea class="form-control" name="Desc" data-rule-required="true" ng-model="entity.Desc" placeholder="请输入模块描述"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" btn-loading="saveloading" loading-text="创建中...">确定</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
