<form class="form-horizontal vbox" form-validator formvalidatorconfig="eventformvalidate" method="post">
  <section class="vbox main-content">
    <header class="header bg-white b-b clearfix">
      <form class="talbe-search" form-serialize method="post" table-params="tableParams">
        <div class="row m-t-sm">
          <div class="col-sm-8 m-b-xs">
              <span class="m-r">流程模块</span>
          </div>
        </div>
      </form>
    </header>
    <div class="section scrollable wrapper w-f m-b-md">
      <!-- <div class="panel panel-default wrapper">
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label must new-control-label">所属模块</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" data-rule-required="true" ng-model="entity.categoryId" placeholder="请输所属模块">
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label must new-control-label">类型</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" data-rule-required="true" ng-model="entity.controlType" placeholder="请输类型">
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label must new-control-label">标题</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" data-rule-required="true" ng-model="entity.controlTitle" placeholder="请输标题">
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label must new-control-label">排序号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" data-rule-required="true" ng-model="entity.sortNum" placeholder="请输排序号">
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label must new-control-label">是否必填</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" data-rule-required="true" ng-model="entity.isRequired" placeholder="请输是否必填">
            </div>
        </div>
      </div> -->
      <div class="panel panel-default wrapper">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-type-wrapper">
              <ul>
                <li class="header">表单类型</li>
                <li ng-repeat="item in formTypeList track by $index">{{item.name}}</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="form-group clearfix">
                <div class="col-sm-4">
                  <label class="col-sm-3 control-label must new-control-label">标题</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="name" data-rule-required="true" ng-model="entity.ControlTitle" placeholder="请输入标题">
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="col-sm-3 control-label must new-control-label">类型</label>
                  <div class="col-sm-9">
                    <select class="input-sm m-r-sm fl form-control" name="ControlType" ng-options="item.value as item.name for item in formTypeList" ng-model="entity.ControlType" data-rule-required="true">
                      <option value="">请选择</option>
                    </select>
                  </div>
                </div>
            </div>
            <div class="form-group clearfix">
              <div class="col-sm-4">
                  <label class="col-sm-3 control-label must new-control-label">排序号</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" name="SortNum" data-rule-required="true" ng-model="entity.SortNum" placeholder="请输入排序号">
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="col-sm-3 control-label must new-control-label">是否必填</label>
                  <div class="col-sm-9">
                      <select class="input-sm m-r-sm fl form-control" name="IsRequired" ng-model="entity.IsRequired" data-rule-required="true">
                        <option value="1">必填</option>
                        <option value="0">非必填</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <a class="btn btn-sm btn-primary pointer m-r-xs" title="新增表单" ng-click="addForm()"> <i class="fa fa-plus m-r-xs"></i>添加</a>
                </div>
            </div>
            <div class="preview-wrapper">预览</div>
            <div class="already-add-form-wrapper m-t">
              <div class="row" ng-repeat="item in addedFormList track by $index">
                <div class="col-sm-5">
                  <div custom-form form-info="item"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer bg-white b-t text-right pos-abt" ng-if="detailData.length==0">
        <button type="submit" class="btn btn-primary" btn-loading="saveloading" loading-text="保存中...">保存</button>
        <button type="button" class="btn btn-default" back-state="">取消</button>
    </footer>
  </section>
</form>