<form form-validator  formvalidatorconfig="eventformvalidate" method="post" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    <h4 class="modal-title">新建应用</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-3 control-label must">应用名称：</label>
      <div class="col-sm-8">
        <input type="text" class="form-control input-sm" name="applicationname" ng-model="vm.applicationname" ng-disabled="vm.editApplication" data-rule-required="true" data-rule-maxlength="20"/>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-3 control-label">描述：</label>
      <div class="col-sm-8">
        <textarea name="applicationdesc" class="form-control" rows="2" ng-model="vm.applicationdesc" data-rule-maxlength="50"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" btn-loading="saveloading" loading-text="保存中...">保存</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
  </div>
</form>
