<section class="vbox">
  <header class="header bg-white b-b clearfix">
    <form class="talbe-search" form-serialize method="post" table-params="tableParams">
      <div class="row m-t-sm">
        <div class="col-sm-8 m-b-xs">
            <span class="m-r">产品维护</span>
            <div class="btn-group  m-r-xs" dropdown>
                <a class="btn btn-sm btn-primary pointer m-r-xs" title="新增流程" ng-click="addProduct()"> <i class="fa fa-plus m-r-xs"></i>新增产品</a>
            </div>
        </div>
      </div>
    </form>
  </header>
  <!-- <div class="section scrollable wrapper w-f m-b-md"> -->
  <div class="section scrollable wrapper w-f m-b-md">
    <div class="panel panel-default ">
      <div  class="table-responsive bg-white wrapper-sm ">
        <div class="load" ng-if="pageLoading">正在加载中</div>
        <div class="panel-body">
          <table class="table table-striped table-hover" ng-if="!pageLoading">
            <thead>
              <tr>
                <th>ID</th>
                <th>名称</th>
                <th>值</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in productList">
                <td>{{item.id}}</td>
                <td>{{item.dicName}}</td>
                <td>{{item.dicValue}}</td>
                <td>
                  <a class="text-href" ng-click='addProduct(item)'>编辑</a>
                  <!-- <a ng-click="deleteaddress({id:item.id})" class="text-href m-r">删除</a> -->
                </td>
              </tr>
            </tbody>
            <tbody ng-if="!productList.length">
              <tr class="text-center">
                <td colspan="3">暂无数据</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer bg-white" fix-footer-ex="" fix-con-selector=".main-content" style="left: 200px;padding:2px 240px 0 10px;">
    <div class="row text-center-xs">
      <div class="col-md-5 hidden-sm">
        <p class="text-muted m-t">总共{{ page.totalCnt }}条 当前为第{{ page.pageIndex }}页</p>
      </div>
      <div wmo-pagination page-index="page.pageIndex" page-size="page.pageSize" total-cnt="page.totalCnt" on-page-index-changed="onPageIndexChanged()" style="margin:0;float:right;padding-top:8px;"></div>
    </div>
  </footer>
</section>
