<form form-validator  formvalidatorconfig="eventformvalidate" method="post" class="form-horizontal">
  <style>
    .clearfix:after{
      content: "";
      height: 0;
      overflow: hidden;
      clear: both;
    }
    .slider{
      margin-top: 20px;
    }
    .slider ul li{
      position: relative;
      width: 70px;
      height:23px;
      float: left;
      list-style-type:none;
    }
    .yuan{
      border-radius: 100%;
      width: 20px;
      height:20px;
      border:3px #00a2d4 solid;
      position: absolute;
      top:0;
    }
    .number{
      position: absolute;
      left: 20px;
      top: -20px;
      color:#b6b6b6;
    }
    .xian{
      position: absolute;
      width: 50px;
      height:2px;
      background: #b6b6b6;
      left: 20px;
      top:50%;
      transform: translate(0,-50%);
    }
    .clearfix_padd{
      padding: 0;
    }
    .rank_text input{
      width: 40px;
      margin-left: 48px;
    }
    .hd-title {
      font-size: 16px;
      line-height: 30px;
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    .modal-body {
      padding: 20px 30px;
    }
    .red{
      color: #FF0000;
    }
  </style>

  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    <h4 class="modal-title">删除策略</h4>
  </div>
  <div class="modal-body">
      确定删除该策略？
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="submit" btn-loading="saveloading" loading-text="保存中...">确定删除</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
  </div>
</form>
