<form form-validator  formvalidatorconfig="eventformvalidate" method="post" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    <h4 class="modal-title">新建角色</h4>
  </div>
  <div class="modal-body clearfix">
      <div  class="pos-rlt load-height-120" ng-show="loading">
        <div class="load"></div>
      </div>
      <div class="col-sm-12 text-center table-diff" ng-if="!loading">
        <div class="form-group">
          <label class="col-sm-4 control-label must">角色名称 ：</label>
          <div class="col-sm-5" ng-if="isEdit">
            <input name="rolename" class="form-control input-sm" data-rule-maxlength="20" ng-model="vm.name" required="true" disabled="true" />
          </div>
          <div class="col-sm-5" ng-if="!isEdit">
            <input name="rolename" class="form-control input-sm" data-rule-maxlength="20" ng-model="vm.name" required="true"/>
          </div>
        </div>
        <!-- <div class="clearfix table-sf">
          <div class="table-tr clearfix" ng-repeat="_key in vm.list track by $index" ng-init="outindex=$index">
            <div class="table-select-all fl table-td" cal-height indata="_key.sonModels">
              <input type="checkbox" name="{{_key.desc}}{{$index}}" ng-change="selectAllChildren(_key)" ng-model="_key.isChecked">
            </div>
            <div class="table-title fl table-td" cal-height indata="_key.sonModels">{{_key.desc}}</div>
            <div class="table-sub-wrapper fl" ng-repeat="_key2 in _key.sonModels track by $index" ng-if="_key.sonModels.length>0">
              <div class="clearfix">
                <div class="table-sub-title fl table-td">{{_key2.desc}}</div>
                <div class="table-sub-option fl table-td">
                  <label ng-repeat="_key3 in _key2.sonModels track by $index">
                    <input type="checkbox" name="{{_key3.id}}{{$index}}" ng-model="_key3.isChecked" ng-change="isParentChecked(_key)"> {{_key3.desc}}&#12288;
                  </label>
                </div>
              </div>
            </div>
            <div class="table-sub-wrapper fl" ng-if="_key.sonModels.length==0">
              <div class="clearfix">
                <div class="table-sub-title fl table-td"></div>
                <div class="table-sub-option fl table-td"></div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-sm-12 text-center table-diff table-new-sf">
            <table>
                <tr ng-repeat-start="_key in vm.list track by $index">
                    <td rowspan="{{_key.sonModels.length+1}}">
                      <input type="checkbox" name="{{_key.desc}}{{$index}}" ng-change="selectAllChildren(_key)" ng-model="_key.isChecked">
                    </td>
                    <td rowspan="{{_key.sonModels.length+1}}">{{_key.desc}}</td>
                </tr>
                <tr ng-repeat="_key2 in _key.sonModels track by $index">
                  <td>{{_key2.desc}}</td>
                  <td class="bord-r-0">
                    <div style="width:400px;text-align: left;padding-left:8px;padding-top: 5px;">
                      <label ng-repeat="_key3 in _key2.sonModels track by $index">
                        <input type="checkbox" name="{{_key3.id}}{{$index}}" ng-model="_key3.isChecked" ng-change="isParentChecked(_key)"> {{_key3.desc}}&#12288;
                      </label>
                    </div>
                  </td>
                </tr>
                <tr ng-repeat-end class="hide">
                  <td colspan="3"></td>
                </tr>
            </table>
         </div>
     </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" btn-loading="saveloading" loading-text="保存中...">保存</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
  </div>
</form>
