<form class="form-horizontal" form-validator formvalidatorconfig="eventformvalidate" method="post">  
    <div class="modal-header">
        <h4 class="modal-title inline">添加流程</h4>
        <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    </div>
    <div class="modal-body">
        <div ng-show="pageLoading" class="load">数据加载中</div>
        <div ng-show="!pageLoading">
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label must">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Title" data-rule-required="true" ng-model="entity.Title" placeholder="请输入标题">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label must">图像</label>
                <div class="col-sm-10">
                  <upload-button max-count="10" accept=".jpg,.gif,.png,.jpeg,.bmp" callback="upload(data)" fields="{classifyId:filters.classifyId}" ng-show="!entity.Icon"></upload-button>
                  <div class="pos-rlt logo-wrapper" ng-show="entity.Icon">
                    <img class="company-logo" ng-src="{{entity.Icon}}"/>
                    <a class="close pos-abt change-img-button" href="javascript:;" title="删除" ng-click="rechoiseImg(entity.Icon,true)"><i class="fa fa-times-circle"></i></a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" btn-loading="saveloading" loading-text="创建中...">确定</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
