<form class="form-horizontal" form-validator formvalidatorconfig="eventformvalidate" method="post">  
    <div class="modal-header">
        <h4 class="modal-title inline">添加步骤</h4>
        <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    </div>
    <div class="modal-body">
        <div ng-show="pageLoading" class="load">数据加载中</div>
        <div ng-show="!pageLoading">
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label must">所属流程</label>
                <div class="col-sm-10">
                    <select class="input-sm m-r-sm fl form-control" name="CompanyId" ng-options="item.id as item.title for item in processListData" ng-model="entity.CategoryId" data-rule-required="true">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label must">岗位</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="RoleTitle" data-rule-required="true" ng-model="entity.RoleTitle" placeholder="请输岗位">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label must">发起人</label>
                <div class="col-sm-10" ng-init="entity.IsInitiator=entity.IsInitiator?entity.IsInitiator:0">
                    <select class="input-sm m-r-sm fl form-control" name="IsInitiator" ng-model="entity.IsInitiator" data-rule-required="true">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label must">人脸验证</label>
                <div class="col-sm-10" ng-init="entity.IsNeedFace=entity.IsNeedFace?entity.IsNeedFace:0">
                    <select class="input-sm m-r-sm fl form-control" name="IsNeedFace" ng-model="entity.IsNeedFace" data-rule-required="true">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label must">模块</label>
                <div class="col-sm-10">
                    <label class="checkbox-inline" ng-repeat="item in moduleListData track by $index">
                        <input type="checkbox" name="moduleListData{{$index}}" ng-model="item.isChecked">{{item.title}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" btn-loading="saveloading" loading-text="创建中...">确定</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
