<form form-validator  formvalidatorconfig="listEdit" method="post" class="form-horizontal">
  <style>
    .clearfix:after{
      content: "";
      height: 0;
      overflow: hidden;
      clear: both;
    }
    .slider{
      margin-top: 20px;
    }
    .slider ul li{
      position: relative;
      width: 70px;
      height:23px;
      float: left;
      list-style-type:none;
    }
    .yuan{
      border-radius: 100%;
      width: 20px;
      height:20px;
      border:3px #00a2d4 solid;
      position: absolute;
      top:0;
    }
    .number{
      position: absolute;
      left: 20px;
      top: -20px;
      color:#b6b6b6;
    }
    .xian{
      position: absolute;
      width: 50px;
      height:2px;
      background: #b6b6b6;
      left: 20px;
      top:50%;
      transform: translate(0,-50%);
    }
    .clearfix_padd{
      padding: 0;
    }
    .rank_text input{
      width: 35px;
      margin-left: 52px;
    }


    .hd-title {
      font-size: 16px;
      line-height: 30px;
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    .modal-body {
      padding: 20px 30px;
    }
    .red{
      color: #FF0000;
    }
  </style>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    <h4 class="modal-title">添加数据</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-3 control-label must">数据值 ：</label>
      <div class="col-sm-8">
        <input name="value" class="form-control input-sm" ng-model="vm.value" required="true" data-rule-maxlength="30"/>
        <input name="oldValue" class="form-control input-sm hide" ng-model="vm.oldValue" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label must">应用：</label>
      <div class="col-sm-8">
        <select ng-model="vm.applicationCode" ng-options="s.code as s.value for s in appList" class="form-control w300" required ng-change="applicationCode(vm.applicationCode)">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label must">列表类型：</label>
      <div class="col-sm-8">
        <select ng-model="vm.sheetId" ng-options="s.id as s.name for s in sheetdataList" class="form-control w300" required>
          <option value="">请选择</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">描述：</label>
      <div class="col-sm-8">
        <textarea class="form-control" rows="3" ng-model="vm.desc" data-rule-maxlength="100" placeholder="最多100字"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" btn-loading="saveloading" loading-text="保存中..." type="submit">保存</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
  </div>
</form>
