<form form-validator  formvalidatorconfig="upload" method="post" class="form-horizontal">
  <style>
    .hd-title {
      font-size: 16px;
      line-height: 30px;
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    .modal-body {
      padding: 20px 30px;
    }
    .text-url{
      color:#00A5FF;
      text-decoration: underline;
    }
    .text-url:hover{
      color:#00A5FF;
      text-decoration: underline;
    }
    .text-title{
      font-size: 16px;
      text-align: center;
    }
  </style>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" class="pull-right">&times;</button>
    <h4 class="modal-title">导入数据</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-12 text-title">请先下载<a class="text-url" href="http://172.21.251.110:8081/sheetdata/downloadCsvModel">列表模板</a>，并安列表模板录入数据</label>
    </div>
    <div class="form-group">
       <div class="pull-left m-b-sm col-sm-offset-3" upload-csv-single max-count="1" file-list="entity.file" file-type="'.csv'" url="/api3/sheetdata/import" upload-params="uploadParams" is-my-del="true" delete-data="del(index,entity.file)" hide="prizeDis || globalDis" save-fu="setdata"></div>
       <!-- <input type="file" accept=".csv" ng-model="vm.csv" name="csv"> -->
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" btn-loading="saveloading" loading-text="导入中..." ng-click="set(setdata)">导入文件</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
  </div>
</form>
