<style type="text/css">
	.welcome {
		margin-top: 260px;
		text-align: center;
		font-size: 44px;
	}
</style>
<section class="vbox">
    <!-- <header class="header bg-white b-b clearfix">
        <p>工作台</p>
    </header>
    <section class="scrollable wrapper">
        <div class="load" ng-if="pageLoading">数据加载中...</div>
        <div class="row form-horizontal" ng-if="!pageLoading">
           <textarea rows="5" class="form-control" kindeditor ng-model="description" data-config="default" data-msg-required="简介不能为空" name="description"></textarea>
        </div>
    </section> -->
    <section class="scrollable wrapper">
    	<p class="welcome">欢迎使用{{app.name}}</p>
    </section>

</section>

