
<div class="uploadify-queue ">
    <div id="upload{{$index}}" class="uploadify-queue-item" ng-repeat="f in files">
        <div ng-if="f.fileProgress<100">
            <p class="m-r-xs inline">{{f.name}}</p><span class="m-r-xs">({{f.size|formatBytes}})</span><span class="m-r-xs">{{f.fileProgress}}%</span>
            <div class="uploadify-progress">
                <div class="uploadify-progress-bar" style="width: {{f.fileProgress}}%;"> </div>
            </div>
        </div>
    </div>
</div>
<ul class="list-unstyled list-inline upload-list ">
    <li ng-click="selectIndexFun($index)" ng-class="{'index':$index==selectIndex,'hide':centreShow}" ng-repeat="f in fileList">
        <a href="javascript:;" class="close" ng-click="del($index)" ng-show="!hide"><i class="fa fa-times-circle"></i></a>
         <fresco-img-mj  list="f.urls"></fresco-img-mj>

         <!-- 如果要添加图片链接的话 -->
        <input ng-if="haslink" type="text" class="form-control" data-rule-url="true" name="linksingle{{$index}}" ng-model="f.link" ng-disabled="hide" placeholder="添加链接" style="width:120px;margin-top:10px" />
    </li>
    <li class="add" ng-show="maxCount>fileList.length&&!fileUploadLoading" ng-file-select ng-model="files" class="drop-box" drag-over-class="dragover" allow-dir="true" accept="image/jpeg,image/png">
        <button type="button" class="btn btn-default btn-sm"  btn-loading="fileUploadLoading" loading-text="上传中..."><i class="fa fa-plus"></i>上传图片</button>
    </li>
    <li class="add" ng-show="maxCount>fileList.length" ng-if="fileUploadLoading">
        <button type="button" class="btn btn-default btn-sm"  btn-loading="fileUploadLoading" loading-text="上传中..."><i class="fa fa-plus"></i>上传图片</button>
    </li>
</ul>
<div class="help-block">{{tips}}</div>
